.debug [class*="col-"] {
  border: 1px solid black;
}

/* INIT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  scroll-behavior: smooth;
}

/* CLASSI MODULARI */
.section-padding-50 {
  padding: 50px 0;
}

.row-padding-30 {
  padding: 30px 0;
}

.bg-white {
  background-color: white;
}

.bg-grey {
  background-color: #f3f5f9;
}

.bg-blue {
  background-image: linear-gradient(#246ef5, blue);
}

/* TIPOGRAFIA */
h1.section-black {
  color: black;
  font-size: 30px;
  font-weight: 700;
}

h1.section-white {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

h1.header-title {
  color: white;
  font-size: 60px;
}

h1.card-heading {
  color: black;
  font-size: 26px;
}

h2.section {
  color: grey;
  font-size: 18px;
  line-height: 24px;
}

h2.header-paragraph {
  font-size: 18px;
  color: lightgrey;
  line-height: 26px;
}

h2.card-heading {
  color: #246ef5;
  font-size: 26px;
  margin: 0;
}

footer h5.copyright {
  font-size: 14px;
  color: lightgrey;
  margin: 0;
}

footer h5.footer-list-title {
  font-size: 14px;
  color: white;
}

footer h6.copyright {
  font-size: 12px;
  color: lightgrey;
  margin: 0;
}

/* BOTTONI */
button.header-topbar-button {
  background-color: white;
  color: #246ef5;
  border: 1px solid #246ef5;
}

button.header-topbar-button:hover {
  background-color: #246ef5;
  color: white;
  border: 1px solid #246ef5;
  transition: 0.2s;
}

button.header-button-create {
  margin-bottom: 10px;
  width: 100%;
  background-color: #246ef5;
  color: white;
  border: 1px solid #246ef5;
}

button.header-button-create:hover {
  background-color: white;
  color: #246ef5;
  border: 1px solid #246ef5;
  transition: 0.2s;
}

button.header-button-login {
  background-image: url("../img/google-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  margin-bottom: 10px;
  width: 100%;
  background-color: white;
  color: #246ef5;
  border: 1px solid #246ef5;
}

button.header-button-login:hover {
  background-image: url();
  background-color: #246ef5;
  color: white;
  border: 1px solid #246ef5;
  transition: 0.2s;
}

button.get-started-button {
  background-color: white;
  color: #246ef5;
  border: 1px solid #246ef5;
}

button.get-started-button:hover {
  background-color: #f1f1f1;
  color: black;
  border: 1px solid #246ef5;
  transition: 0.2s;
}

/* MAIN */
/* HEADER TOP BAR FIXED */
#header-top-bar {
  height: 70px;
  line-height: 70px;
}

.nav-desktop li {
  display: inline;
  margin-right: 10px;
}

.nav-desktop li:last-child {
  margin-right: 0;
}

.nav-desktop a:hover {
  color: #246ef5;
  transition: 0.2s;
}

img.header-logo {
  width: 180px;
  padding-bottom: 5px;
  vertical-align: middle;
}

.nav-desktop li:nth-child(even) a::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f078";
}

.nav-mobile {
  font-size: 20px;
  line-height: 70px;
}

.nav-mobile {
  font-size: 16px;
  line-height: 70px;
}

.nav-mobile a:hover {
  color: #246ef5;
  transition: 0.2s;
}

/* HELPER FIXED */
.helper-fixed {
  display: block;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 2px 1px grey;
  padding: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

/* helper fixed disatttivato sotto i 768px per pulizia dei contenuti su smartphones */
@media screen and (max-width:767px) {
  .helper-fixed {
    display: none;
  }
}

/* HEADER */
#header {
  margin-top: 70px;
  background-image: url(../img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header .card {
  padding: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

div.card form {
  margin-top: 10px;
}

p.terms {
  margin-top: 20px;
  font-size: 10px;
}

p.terms a:active, p.terms a:link, p.terms a:visited {
  color: #246ef5;
  text-decoration: underline;
}

/* CUSTOMERS LIST */
#customers-list img {
  height: 100%;
}

/* SLIDER */
.arrow-padding {
  padding-top: 12%;
}

.arrow-padding i:hover {
  color: #246ef5;
  cursor: pointer;
}

img.slider {
  width: 100%;
}

.slider-description {
  color: black;
  font-size: 12px;
  font-weight: 700;
}

ul.slider-selector li {
  display: inline;
}

ul.slider-selector li:hover {
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
}

/* SERVICES */
#services li {
  font-size: 18px;
  color: grey;
  border-left: 2px solid lightgrey;
  padding: 7px 10px;
}

#services li:hover {
  color: black;
  border-left: 2px solid #246ef5;
}

/* Piccola funzione per correggere il distanziamento delle services box da tablet in giù */
@media screen and (max-width:1199px) {
  .services-box {
    margin-bottom: 40px;
  }
}

ul.services-menu {
  margin-bottom: 40px;
}

.services-box-logo {
  display: block;
}

h3.services-box-title {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

p.services-box-content {
  font-size: 12px;
  font-weight: 200;
  color: black;
}

p.services-box-link {
  font-size: 12px;
  font-weight: 700;
  color: #246ef5;
}

p.services-box-link::after {
  content: " >";
}

/* SERVICS COUNTRY */
.country-row {
  line-height: 14px;
  color: white;
  border-bottom: 1px solid white;
  margin-top: 8px;
}

.country-row-padding {
  padding: 10px 30px;
}

.country-row-name {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}

.country-row-city {
  color: lightgrey;
  font-size: 14px;
  font-weight: 200;
}

p.country-row-link {
  font-size: 14px;
  font-weight: normal;
  color: lightblue;
}

p.country-row-link::after {
  content: " >";
}

/* FOOTER */
footer {
  background-color: #030f26;
  color: white;
  font-weight: 500;
}

img.footer-logo {
  margin-top: 10px;
}

footer div.footer-social {
  margin: 0;
  font-size: 20px;
  color: lightgrey;
}

footer div.footer-social a {
  font-size: 20px;
  color: lightgrey;
}

footer div.footer-social a:hover {
  color: white;
  transition: 0.2s;
}

footer [class^="col-"]:first-child *:nth-child(even) {
  margin: 10px 0;
}

footer ul.footer-list li {
  font-size: 14px;
  color: lightgrey;
  margin: 0;
}

ul.footer-list a:hover li {
  font-size: 14px;
  color: white;
  margin: 0;
  transition: 0.2s;
}
