.debug [class*="col-"] {
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: black;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  margin: 0;
}

.section-padding-50 {
  padding: 50px 0;
}

.row-padding-30 {
  padding: 30px 0;
}

.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #f3f5f9;
}
.bg-blue {
  background-color: blue;
}

/* HEADER TOP BAR FIXED */
#header-top-bar {
  height: 80px;
  line-height: 80px;
}

.nav-desktop li {
  display: inline;
  margin-right: 10px;
}

.nav-desktop li:last-child {
  margin-right: 0;
}

/* HEADER */
#header {
  margin-top: 80px;
  background-image: url(../img/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

#header .card {
  height: 400px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

#header h1 {
  color: white;
}

#header h2 {
  color: lightgrey;
}

/* CUSTOMERS LIST */
#customers-list {
  height: 30vh;
}

/* SERVICES */
